body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.navbar {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 30px; /* Ajusta el tamaño del icono según sea necesario */
    margin-right: 10px;
}

.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    width: 300px; /* Ajusta el ancho según sea necesario */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
    margin-bottom: 20px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

h2 {
    margin-top: 20px;
}

.remove-btn {
    background-color: #dc3545;
    margin-left: 10px;
}

.remove-btn:hover {
    background-color: #c82333;
}