header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
}

header nav img{
    height: 50px;
    margin: 0px 10px;
}

nav{
    background: linear-gradient(to right, rgba(19, 138, 236, 0.966) 50%, rgb(0, 0, 0)50%);
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#cuenta-carrito{
    background-color: rgb(90, 204, 233) ;
    border-radius: 100%;
    display:inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
}

#logo{
    width: 85px;
    height: 85px;
}

.deroms{
    font-size: 50px;
    color: white;
    font-family: serif-display;
    
}

footer{
    margin-top: auto;
    box-shadow: 0 -3px 5px rgb(0, 0, 0, 0.104 );
    text-align: center;
}


.contenedor{
    width: 100%;
    height: 99vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.formulario{
    width: 100%;
    max-width: 470px;
    height: 450px;
    background-color: rgb(0, 0, 0);
    padding: 30px 60px 70px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #0097B2;
}

.formulario h1{
    color: white;
    position: relative;
    font-size: 40px;
}

.input-field{
    background-color:black ;
    margin: 10px 0;
}

.formulario span{
    color: wheat;
    font-size: 30px;
    display: block;
    margin-bottom: 1px;
}

.input-field input {
    border-radius: 25px;
    width:460px;
    height: 30px;
    border: 2px solid #0097B2;
    
}

.btn-field button{
    flex-basis: 48%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    background-color:#0097B2 ;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    height: 35px;
    width: 175px;
    border: 2px solid #020202;
    margin: 7px;
    cursor: pointer;
}

.input-group{
    height: 250px;
}

